.H-line{
    height:5px;
    width:1px;
    border-bottom:1px solid #ffffff;
    -webkit-animation: increase 3s;
    -moz-animation:    increase 3s; 
    -o-animation:      increase 3s; 
    animation:         increase 3s; 
    animation-fill-mode: forwards;
  }
  
  @keyframes increase {
      90% {
        width: 50%;
      }
      100%{
        width: 0;
      }
  }
